* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(30, 54%, 90%);
  font-size: 16px;
  color: hsl(24, 5%, 18%);
}

article {
  max-width: 1440px;
  background-color: hsl(0, 0%, 100%);
  height: 100vh;
  width: 735px;
  margin: 125px auto;
  border-radius: 30px
}

.container {
  border: 1px solid black;
  width: 655px;
  height: 100%;
  margin: 0 auto;
}

img {
  width: 100%;
  margin: 40px 0 0;
  border-radius: 15px;
}

h1, h2 {
  font-family: "Young Serif", serif;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 0px;
}

p, h3, li {
  font-family: "Outfit", sans-serif;
}

.description {
  font-size: 1em;
  font-weight: 300;
}

.box {
  background-color: hsl(330, 100%, 98%);
  width: 100%;
  height: 180px;
  border-radius: 10px;
  margin-top: 40px;
}

h3 {
  padding: 25px 0 0 25px;
  color: hsl(332, 51%, 32%);
  font-weight: 600;
}

span {
  font-weight: 600;
}

li::marker {
  color: hsl(332, 51%, 32%);
  font-size: 10px;
  padding-left: 25px;
}

li {
  padding-left: 20px;
  font-size: 1em;
  font-weight: 300;
}

.prep-time{
  padding-left: 42px;
}

.ingredients {
  padding-left: 18px;
}


h2 {
  color: hsl(14, 45%, 36%);
  font-weight: 500;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
